body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-view {
    padding: 20px;
}

header,
footer {
    background-color: #007CFF;
    color: white;
    text-align: center;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* Add margin-top for spacing */
    width: 100%;
    /* Ensure the nav takes the full width */
    text-align: center;
    /* Center the content inside the nav */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 10px;
    /* Adjust margin to create space between buttons */
}

button {
    padding: 10px;
    background-color: #007CFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:not(:last-child) {
    margin-right: 10px;
    /* Add margin-right to create space between buttons */
}

button:hover {
    background-color: #D32F2F;
}

.chart-view {
    flex: 1;
    display: flex;
    align-items: stretch;
    overflow: hidden;
}

#cy {
    width: 100%;
    height: 100%;
}

footer {
    padding-top: 3px;
    background-color: #007CFF;
    color: white;
}

footer button {
    background-color: #6D6D6D;
    padding: 8px;
    color: white;
    border: none;
    cursor: pointer;
}

footer button:hover {
    background-color: #D32F2F;
}